@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'MelideSerif';
  src: url("/assets/incomplete-MelideSansSerif.ttf") format("truetype");
}

:root {
    /* Theme */
    --bg-color:             #000; /* Background Colors*/
    --bg-color-shade-1:     #222;
    --bg-color-shade-2:     #446;
    --bg-color-shade-t:     #2227;
    --fg-color:             #FFF; /* Foreground Colors */
    --fg-color-shade-1:     #CDD;
    --fg-color-shade-2:     #7A9;
    --fg-color-shade-t:     #CDD3;
    --ac-color:             #0FD; /* Accent Colors */
    --ac-color-shade-1:     #2DA;
    --ac-color-shade-2:     #297;
    --ac-color-shade-t:     #2DA3;

    /* Metrics */
    --gap:              .5em;
    --padding:          1em;
    --margin:           .5em;
    --border-radius:    .25em;
    --header-height:    5em;
}

body, html {
    font-size: 1em;
    background-color: var(--bg-color);
    color: var(--fg-color);
    position: relative;
}

html {
    padding-top: var(--header-height);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    height: var(--header-height);
    padding: var(--padding);
    background: linear-gradient(to top, var(--bg-color-shade-1), var(--bg-color-shade-2));
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

header>img {
    height: 100%;
    margin-right: var(--margin);
}

header>a {
    all: unset;
    border-radius: var(--border-radius);
    background-color: var(--bg-color-shade-t);
    padding: calc(var(--padding) / 2) var(--padding);
    cursor: pointer;
    outline: .12em solid var(--fg-color-shade-t);
    box-shadow: 0 0 4px var(--bg-color);
    transition: background-color 100ms, color 100ms;
}

header>a:hover {
    background-color: var(--bg-color-shade-2);
    color: var(--ac-color-shade-2);
}

header>a:active {
    background-color: var(--bg-color);
    color: var(--ac-color);
}

/* Specials*/

#update_notify {
    cursor: pointer;
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    background-color: var(--fg-color-shade-1);
    padding: calc(var(--padding) / 4);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    padding-left: calc(var(--padding) / 1.5);
    margin-left: auto;
    transition: background-color 200ms, color 50ms;
}
#update_notify:hover {
    background-color: var(--bg-color-shade-2);
    color: var(--ac-color);
    outline: .15em solid var(--ac-color)
}

#update_notify > p:nth-child(2) {
    width: 15em;
    overflow: hidden;
    text-wrap: nowrap;
    transition: width 300ms ease-out;
}

#update_notify > p:last-child {
    text-align: center;
    width: 8em;
    background-color: var(--bg-color-shade-t);
    font-weight: 500;
    color: var(--fg-color);
    padding: calc(var(--padding) / 2);
    border-radius: calc(var(--border-radius) / 2);
}


/* Others */

#project_container {
    width: 100%;
    max-width: 50em;
    margin: auto;
    height: 100%;
    padding: var(--padding);
    gap: var(--gap);

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(auto, 10em));
    justify-content: center;
}

.project {
    text-align: center;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    position: relative;
    width: 100%;
    min-width: 10em;
    max-width: 15em;
    background-color: var(--bg-color-shade-t);
    padding: calc(var(--padding) / 2);
    border-radius: var(--border-radius);
    outline: 2px solid var(--fg-color-shade-t);
    box-shadow: 0 0 1px var(--fg-color-shade-1);
    border-top: calc(var(--border-radius) + .5em) solid var(--ac-color);
    cursor: pointer;
    max-width: 100%;
    transition: outline-color 100ms;

    /* Resets */
    opacity: 0;
    transform: translateY(-10em);
    transition: padding 0ms;
    animation: reveal 1s calc(sibling-index() * 100ms) forwards ease-out;
    
}

.project > .support_button {
    display: none;
    border: .5em solid var(--ac-color);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    top: -.5em;
    background-color: var(--ac-color) !important;
    font-weight: 800;
    font-size: .7em;
    
    color: var(--bg-color);
    transition: height 200ms, opacity 200ms, background-color 100ms, color 500ms;
    transition-delay: 250ms, 250ms, 0ms, 0ms;
}

.project > .support_button:hover {
    background-color: var(--ac-color-shade-t) !important;
    color: var(--fg-color);
    border: .5em solid var(--ac-color);
}


.project > span {
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.project > img {
    width: 100%;
    border-radius: calc(var(--border-radius) - var(--padding) / 2);
}

.project > .icon_type {
    --icon-bg-color: #777;
    --icon-fg-color: #FFF;
    background-color: none;
    position: absolute;
    top: calc(var(--padding) * -1.5);
    right: calc(var(--padding) * -.2);
    z-index: 1;
    background-color: var(--icon-bg-color);
    color: var(--icon-fg-color);
    padding: calc(var(--padding) / 2);
    border-radius: 50%;
}

.project > *:not(img):not(.track_down):not(span):not(.icon_type) {
    width: 100%;
    padding: var(--padding) 0;
    margin: var(--margin) 0;
    background-color: var(--bg-color-shade-t);
    border-radius: calc(var(--border-radius) - var(--padding) / 2);
}

#project_container:has(.project.reveal) {
        /* display: grid;
        grid-template-columns: 10em 1fr;*/
        display: flex;
        flex-direction: column;
        align-items: center;
}

#project_container:has(.project.reveal) > #project_description {
    display: block;
}

#project_container:has(.project.reveal) > .project:not(.reveal) {
    visibility: hidden;
    position: absolute;
}

#project_container:has(.project.reveal) > .project:not(.reveal) > * {
    display: none;
}

#project_container:has(.project.reveal) > .project.reveal > .support_button {
    display: block;
    opacity: 1;
    height: 4em;
    opacity: 1;
    transition: height 0ms, opacity 0ms, background-color 200ms, color 100ms, padding 100ms;
    transition-delay: 0ms, 0ms, 0ms, 0ms, 0ms;
}

.project.reveal {
    padding-top: calc(var(--padding) / 2 + 3em);
    max-width: 10em;
    transition: padding 200ms;
}

.project:hover {
    background-color: var(--bg-color-shade-1);
    outline-color: var(--ac-color);
}

.project:not(.reveal) > *:not(img):not(span):not(.icon_type) {
    display: none;
}

.track_down {
    --size: .25em;
    content: "";
    position: relative;
    width: var(--size);
    height: 1.5em;
    background-color: var(--fg-color-shade-1);
    overflow: hidden;
}
.track_down::after {
    content: "";
    border: calc(var(--size) / 2) dashed var(--bg-color-shade-1);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: antdownanimation 1s linear infinite;
}

@keyframes antdownanimation {
    to {
        transform: translateY(25%) scaleY(200%);
    }
    from {
        transform: translateY(-55%) scaleY(200%);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(-10em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.progress_bar {
    position: relative;
    height: .7em;
    width: calc(100% - var(--margin) * 2);
    background-color: var(--bg-color-shade-1);
    margin: 0 var(--margin);
    margin-top: var(--margin);
}

.progress_bar::after {
    content: "";
    top: 0;
    left: 0;
    width: var(--value);
    background-color: var(--ac-color-shade-1);
    height: 100%;
    position: absolute;
}

#project_description {
    display: none;
    text-align: start;
    width: 100%;
    padding: var(--padding);
}
#project_description > h1 {
    margin-bottom: calc(var(--margin) / 2);
}

#project_description > button {
    all: unset;
    padding: calc(var(--padding) / 2);
    background-color: var(--fg-color-shade-1);
    color: var(--bg-color);
    margin-bottom: var(--margin);
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;
    transition: padding 100ms;
}
#project_description > button:hover {
    background-color: var(--ac-color);
    padding-left: var(--padding);
}

#project_description > button:active {
    padding-left: calc(var(--padding) / 2);
}

/* Wide Screen */
@media (min-width: 650px) {
    #project_container:has(.project.reveal) {
        display: grid;
        grid-template-columns: 1fr 15em;
        align-items: start;
    }
}

/* Mobile */
@media (max-width: 650px) {
    #update_notify > p:nth-child(2) {
        width: 0;
    }
}

#modal_section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-shade-t);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms;
}

#modal_section > .content > div > * {
    padding-bottom: calc(var(--margin) * 2);
}

#modal_section ul, #modal_section ol {
    list-style-position: inside;
}

#modal_section.open {
    pointer-events: all;
    opacity: 1;
}

#modal_section > .content {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    height: 80%;
    max-width: 50em;
    background-color: var(--bg-color-shade-1);
    position: relative;
    padding: calc(var(--padding) * 2);
}

#modal_section > .content > a.close_modela {
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    right: calc(var(--padding) / 2);
    top: calc(var(--padding) / 2);
    background-color: var(--bg-color-shade-1);
    color: var(--ac-color);
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 100ms;
}

#modal_section > .content > a.close_modela:active {
    top: calc(var(--padding) / 1);
}

#modal_section > .content > a.close_modela:hover {
    background-color: var(--fg-color-shade-1);
    color: var(--ac-color-shade-2);
}