@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
    font-family: 'Melide';
    src: url('assets/incomplete-MelideSansSerif.ttf');
}

:root {
    --padding: .5em;
    --header-height: 04em;
    --footer-height: 200px;
    --max-width: 1000px;
    --font: "Didact Gothic", sans-serif;
}

@media only screen and (max-width: 600px) {
    header a:not(.except) p, header > h2, .header.card .lyrics { display: none }
    .card.header .ver:nth-child(2) { max-width: 100% !important; }
    footer .box_wrap { font-size: large; flex-wrap: nowrap; flex-direction: column; overflow: auto; height: calc(var(--footer-height) - var(--padding) * 2); }
    .track_display, .shop_display { display: flex !important; flex-direction: column !important; }
    .track_display > img { width: 100% !important; }
}

body.changing > *:not(div):not(.modal):not(.fancy_gradient),
body.changing > div:has(>header) > header > h2,
body.changing > div:has(>header) > header > .hor > a {
    opacity: 1;
    animation: disappear 500ms forwards;
    animation-delay: calc(sibling-index() * 50ms);
    pointer-events: none;
}
body.changing { overflow-y: hidden; }
body.changing > div:has(>footer) { transform: translateY(100%); }

body > div:has(footer) { transition: transform 500ms; }

body > main:not(.modal):not(.fancy_gradient),
body > div:has(>header) > header > h2,
body > div:has(>header) > header > .hor > a {
    opacity: 0;
    animation: appear 500ms forwards;
    animation-delay: calc(sibling-index() * 50ms);
}
@keyframes appear {
    from { opacity: 0; transform: translateX(-1em); }
    to { opacity: 1; transform: translateX(0); }
}
@keyframes disappear {
    to { opacity: 0; transform: translateX(1em); }
    from { opacity: 1; transform: translateX(0); }
}

body {
    overflow-x: hidden;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    position: relative;
    min-height: 100vh;
    box-sizing: content-box;
}

* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol { list-style-position: inside; }

div:has(>header) {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    max-width: 100% !important;
    background-color: #000;
    z-index: 1;
}

header {
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(var(--padding)/6*5);
    width: 100%;
}

header::before {
    content: "";
    position: absolute;
    background: linear-gradient(to top, transparent, #0007);
    width: 100%;
    height: 45%;
    left: 0;
    top: var(--header-height);
}

a[href] { color: initial; text-decoration: initial; }
a[href]:hover { text-decoration: underline; }

div:has(>footer) {
    height: var(--footer-height);
    background-color: #000;
    position: absolute;
    width: 100%;
    max-width: 100% !important;
    bottom: 0;
    left: 0;
}

footer a { color: #fff !important; }
footer {
    color: #fff;
    margin: auto;
    width: 100%;
    max-width: var(--max-width);
}

footer>* { flex-grow: 1; }
footer ul { list-style-position: inside; list-style-type: square; }

img { object-fit: cover; }

body > main {
    display: flex; flex-direction: column; max-width: var(--max-width); margin: 0 auto;
}

.hor, .ver, .box_wrap { display: flex; gap: calc(var(--padding)/2); }
.ver { flex-direction: column; }
.hor { flex-direction: row; }

.box_wrap { flex-wrap: wrap; gap: calc(var(--padding)*2); overflow: hidden; }

.ver.align, .hor.center { justify-content: center; }
.hor.align, .ver.center { align-items: center; }

.ver.right, .hor.bottom { align-items: end; }
.ver.left, .hor.top { align-items: start; }

.hor.right, .ver.bottom { justify-content: end; }
.hor.left, .ver.top { justify-content: start; }

.padding { padding: var(--padding); }
.nogap { gap: 0; }

header>.hor>a {
    cursor: default;
    display: flex;
    flex-direction: row;
    gap: calc(var(--padding)/4*3);
    align-items: center;
    justify-content: center;
    padding: 1em;
    box-shadow: 0 calc(var(--padding) / 2) 0 #000;
    user-select: none;
    
    border-radius: calc(var(--padding)/3);
    background: linear-gradient(to top, #222, transparent, #222);
    color: #fff;
    background-color: #222;
    transition: background-color 200ms, transform 100ms;
    /* border: .15em solid #fffa;
    outline: .12em solid #aaa; */
}

header>.hor>a:hover {
    transform: translateY(calc(var(--padding) / 4));
    box-shadow: 0 calc(var(--padding) / 4) 0 #000;
}

header>.hor>a:active {
    background-color: #000;
    transform: translateY(calc(var(--padding) / 2));
    box-shadow: 0 0 0 #000;
}

ul.blocky {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--padding) / 2);
}
ul.blocky > li {
    flex: 1;
    aspect-ratio: 3/2;
    background-color: #eee; border: 1px solid #ddd;
    border-radius: var(--padding);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: var(--padding);
}
ul.blocky > li > a { background-color: #0000 !important; }
ul.blocky > li > * { font-size: clamp(1px, 3vw, 1.2em) }

.card .metadata { gap: 0; }
.card h2 { 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5em;
}
.card h5 { font-weight: 100; }
.card.header .ver:nth-child(2) { max-width: 30%; }
.card.fancy_gradient {
    background: linear-gradient(to top, var(--bg-4), var(--bg-3) 7%, transparent 93%, var(--bg-2));
}
.card {
    user-select: none;
    font-size: larger;
    height: 5em;
    position: relative;
}
.card div { padding: var(--padding); flex-wrap: nowrap; height: 100%; }
.card .ver:has(ul) { flex-grow: 1; overflow-y: auto; }
.card ul { list-style-type: none; }
.card ul > li { opacity: .2; transition: opacity 100ms; cursor: default; }
.card ul > li.active { opacity: 1; }
.card > *:not(img):not(.info) { flex: 1; }
.card .metadata span {
    display: -webkit-box;
    
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .7em;
}

.card img { aspect-ratio: 1; }

.card.canon {
    background: unset;
    mix-blend-mode: overlay;
    background-color: #fff;
}
.card.canon img { aspect-ratio: 5/4; }
.card.canon .metadata span {
    font-size: 1em;
}
.card.book img { aspect-ratio: 6/9; }

.card .metadata { flex: 1; width: 0; min-width: 5em; }

.card:has(.info) .metadata { transition: padding 100ms; }
.card:has(.info):hover { background-color: #eee; }
.card:has(.info):hover .metadata { padding-left: calc(var(--padding)*1.5); }
.card:has(.info):active { background-color: #ddd; color: #444; }
.card:has(.info):active .metadata { padding-left: var(--padding); }

.fancy_gradient {
    --duration: 9.99s;
    --color: #fff;
    --outline: #000;
    --bg-1: #555;
    --bg-2: #ddd;
    --bg-3: #aaa;
    --bg-4: #777;

    text-shadow: 1px 1px 0 var(--outline), -1px -1px 0 var(--outline), -1px 1px 0 var(--outline), 1px -1px 0 var(--outline), 0 -1px 0 var(--outline), -1px 0 0 var(--outline), 0 1px 0 var(--outline), 1px 0 0 var(--outline);
    color: var(--color);
    overflow: hidden;
    position: relative;
}

.fancy_gradient::before {
    content: "";
    background: linear-gradient(to right, var(--bg-4), var(--bg-2), var(--bg-1), var(--bg-2), var(--bg-4));
    background-size: 150% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    animation-delay: calc(var(--duration)/54.32*12.34);
    animation: background_scroll calc(var(--duration)/7.77*5.55) infinite;
    z-index: -1;
}

.fancy_gradient::after {
    content: "";
    background: linear-gradient(to right, var(--bg-4), transparent, var(--bg-4));
    background-size: 150% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: background_scroll calc(var(--duration)/9.99*2.22) infinite;
    z-index: -1;
}

@keyframes background_scroll {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.section {
    --bg: #ccc;
    --color: #000;
    padding: calc(var(--padding)/2) var(--padding);
    background-color: var(--bg);
    color: var(--color);
    border-bottom: .35em solid #00a4;
    font-weight: 800;
    text-transform: uppercase;
}

.section.progress { --percentage: 10%; background: unset; position: relative; }
.section.progress::before {
    content: "";
    position: absolute;
    width: var(--percentage);
    height: calc(100% + .35em);
    top: 0; left: 0;
    background-color: var(--bg);
    z-index: -1;
}
.section.progress::after {
    content: "%";
    position: absolute;
    opacity: .5;
    left: var(--percentage);
    transform: translateX(calc(-100% - var(--padding)));
}

.page {
    gap: var(--padding);
}
/* .page a[href] { background-color: #fff2dd; } */

.selection > button { display: none; padding: var(--padding); min-width: 20%; }
body:has(.page.open) .selection > button { display: block; }
body:has(.page.open) .selection > *:not(button) { display: none; }
body:has(.page.open) .selection { flex-direction: row; }
.selection {
    background: linear-gradient(to top, #222 50%, #000);
    color: #fff;
    font-size: larger;
}
.selection a { color: #fff; }
.selection>.choice {
    transition: padding 100ms;
    border-radius: .2em;
}
.selection>.choice:hover {
    background-color: #ccc;
    padding-left: calc(var(--padding)*1.5);
}
.selection>.choice:active {
    padding-left: var(--padding);
}
.selection_header { user-select: none; overflow-x: auto; }
.selection_header label input { display: none; }
.selection_header label { display: flex; color: #777; transition: 100ms; padding: var(--padding); border-radius: .2em; }
.selection_header label:hover { background-color: #222; }
.selection_header label:has(input[type="radio"]:checked) { color: #000; background-color: #ccc; }
.selection_header label > * { flex: 1; }

main.selection > .ver:last-child {
    height: 16vh;
    overflow-y: auto;
}

main .selection_header label a.question {
    margin-right: calc(var(--padding)/2);
    background-color: #0001;
    border-radius: 10em;
    padding: 0 .25em;
}

.search_panel { border-bottom: .5em solid #eee; font-size: larger; }
.search_panel>* { all: unset; padding: var(--padding); }
.search_panel input[type="search"] { flex-grow: 2; min-width: 0; }
.search_panel input[type="button"] { background-color: #07f; color: #fff; }
.search_panel input[type="button"]:hover { background-color: #06e; }
.search_panel input[type="button"]:active { background-color: #05d; color: #ddd; }
.search_panel select { position: relative; background-color: #444; color: #fff; padding-right: calc(var(--padding)*2); }


.auto_fill {
    display: grid;
    --size: 9em;
    grid-template-columns: repeat(auto-fill, minmax(var(--size), auto));
    gap: calc(var(--padding)/2);
    padding: calc(var(--padding)/2);
}
.auto_grid {
    display: grid;
    --size: 9em;
    grid-template-columns: repeat(auto-fill, minmax(auto, var(--size)));
    gap: calc(var(--padding)/2);
    padding: calc(var(--padding)/2);
}
.auto_grid > *,
.auto_fill > * { width: 100%; aspect-ratio: 1; }
.auto_grid.selectable > *:hover { filter: brightness(.9); }
.auto_grid.selectable > *:active { filter: brightness(.8); }

.page_navigation { justify-content: space-between; }
.page_navigation label:hover { text-decoration: underline; }
.page_navigation label input { display: none; }
.page_navigation label { padding: var(--padding); }
.page_navigation label:has(input:checked) { background-color: #eee; }
.page_navigation > * { flex: 1; }
.page_navigation > div:nth-child(2) > input {
    all: unset;
    text-align: center;
    background-color: #aaa;
    background: linear-gradient(to right, transparent, #ccc);
    padding: var(--padding);
    flex: 1;
    transition: all 100ms;
}
.page_navigation > div:nth-child(2) > input:last-of-type {
    background: linear-gradient(to left, transparent, #ccc);
}
.page_navigation > div:nth-child(2) > input:hover { background-color: #bbb; }
.page_navigation > div:nth-child(2) > input:active { background-color: #aaa; }

.page_navigation > div:nth-child(2) > input.disable { opacity: 1 !important; background-size: 50% 100%; background-repeat: no-repeat; background-position: 101% 50%; }
.page_navigation > div:nth-child(2) > input.disable:last-of-type { background-position: 0% 50%; }
/*
#modal {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #0000;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    pointer-events: none;
    transition: background-color 500ms;
}
#modal > div {
    opacity: 0;
    background-color: #fff;
    width: 100%;
    max-width: calc(var(--max-width) - 15em);
    padding: var(--padding);
    position: relative;
    max-height: 35em;
    overflow: auto;
    transition: opacity 500ms;
}
#modal .close {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
    font-size: larger;
    cursor: pointer;
}

#modal > div > *:not(.close) { width: 100%; }

#modal.open { background-color: #000a; pointer-events: all; }
#modal.open > div { opacity: 1; } */

.square {
    --num: 4;
    display: grid;
    flex: 0;
    align-items: center;
    grid-template-columns: repeat(calc(var(--num)/2), 2em);
}

#loading_block { position: absolute; pointer-events: none; }
#loading_block.load {
    width: auto;
    height: 2em;
    aspect-ratio: 3/1;
    margin: calc(var(--padding)*2.5) auto;
    box-shadow: 1em 1em 0 #000, -1em -1em 0 #000, -1em 1em 0 #000, 1em -1em 0 #000;
    animation: loading_block 1s infinite linear;
}
@keyframes loading_block {
    0%, 100% {
        box-shadow: 0 0 0 #0000, -1em -1em 0 #000, -1em 1em 0 #0000, 1em -1em 0 #0000;
    }
    25% {
        box-shadow: 1em 1em 0 #000, 0 0 0 #0000, -1em 1em 0 #0000, 1em -1em 0 #0000;
    }
    50% {
        box-shadow: 0 0 0 #0000, 0 0 0 #0000, -1em 1em 0 #000, 1em -1em 0 #0000;
    }
    75% {
        box-shadow: 0 0 0 #0000, 0 0 0 #0000, -1em 1em 0 #0000, 1em -1em 0 #000;
    }
}

#project_container:has(>#loading_block.load) > .card,
#project_container:has(>#loading_block.load) > .merch_card {
    opacity: .5;
    pointer-events: none;
    animation: loading_card 2000ms infinite;
    /* animation-delay: calc(sibling-index() * 150ms);*/
}

@keyframes loading_card {
    0%, 10%, 90%, 100% { opacity: .5; }
    45%, 55% { opacity: .25; }
}

.disable { opacity: .5 !important; pointer-events: none !important; }

main.page { display: none; }
main.page.open { display: flex; }
main.conditional:not(.open) { display: none; }

main:has(>dialog:open) {
    opacity: 1;
    pointer-events: all;
}
main:has(>dialog) {
    position: fixed;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    background-color: #0004;
    width: 100%; max-width: none;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity 100ms;
}
main > dialog {
    all: unset;
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffe;
    border: 4px solid #fff;
    padding: var(--padding);
    
    padding-top: calc(2.5em + var(--padding));
    padding-bottom: calc(3em + var(--padding) * 2);
    
    border-radius: var(--padding);
    width: calc(100% - var(--padding) * 4);
    box-sizing: border-box;
    max-width: calc(var(--max-width) / 1.5);
    min-height: 10em;
}
dialog > .header, dialog > .footer {
    position: absolute;
    left: calc(var(--padding)/2);
    top: 0;
    width: calc(100% - var(--padding));
    height: 3em;
    padding: var(--padding);
}
dialog > .footer {
    --new_padding: calc(var(--padding)/2);
    background-color: #0001;
    border-radius: var(--new_padding);
    top: auto;
    bottom: var(--new_padding);
    padding: var(--new_padding);
    gap: calc(var(--padding)/1.5);
}
dialog > .footer > button {
    all: unset;
    flex: 1;
    text-align: center;
    background-color: #fff;
    border-radius: calc(var(--new_padding)/2);
    outline: 1px solid #000;
    transition: background-color 100ms;
}
dialog > .footer > button:hover { background-color: #eee; }
dialog > .footer > button:active { background-color: #ddd; }

dialog > .body > img:nth-child(1) {
    width: 100% !important;
    max-height: 5em;
    object-fit: cover;
}
dialog > .body {
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
}
dialog > .fa-close {
    position: absolute; right: var(--padding); top: var(--padding);
    font-size: larger;
    z-index: 1;
}

.track_display {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
}
.track_display > *, .track_display > .hor > * {
    flex: 1;
}
.track_display > img {
    width: 0; aspect-ratio: 1;
    flex: .3;
}
.track_display .links {
    flex: 0;
    background-color: #0002;
    padding: var(--padding);
    border-radius: var(--padding);
}

.track_display .links > a {font-size: 2em;}
.track_display .links > a:hover { color: #444; }

.container_3d canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #f005;
}

.merch_card {
    cursor: pointer;
    border: .2em solid #eee;
    border-radius: calc(var(--padding) * 2);
    background-color: #fff;
    transition: transform 200ms;
}
.merch_card:hover {
    border: .2em solid #000;
}
.merch_card:active {
    transform: translateY(1em);
    opacity: .5;
}
.merch_card > h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .7em;
    font-weight: 100;
}


.shop_display .meta > .hor {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

.shop_display {
    display: grid;
    grid-template-columns: minmax(auto, 20em) auto;
    gap: calc(var(--padding) * 2);
}
.shop_display > img { width: 100%; outline: 1px solid #ddd; }

.shop_display input {
    all: unset;
    box-sizing: border-box;
    text-align: center;
    background-color: #eee;
    padding: var(--padding);
} 
.shop_display select {
    all: unset;
    min-width: max-content;
    background-color: #eee;
    width: 100%;
    padding: var(--padding);
    box-sizing: border-box;
    outline: 1px solid #ddd;
    border-radius: calc(var(--padding) * 2);
    text-align: center;
}

.scroll {
    overflow: auto;
    height: clamp(1px, 65vw, 25em);
    position: relative;
}
.scroll > img {
    aspect-ratio: 1; height: 100%;
}

.hor.extend > *:not(.except), .ver.extend > *:not(.except) { flex: 1; }

.hor.end, .ver.bottom { justify-content: end; }
.hor.start, .ver.top { justify-content: start; }

.ver.end, .hor.bottom { align-items: end; }
.ver.start, .hor.top { align-items: start; }

.shop_display button {
    all: unset;
    background-color: #5af; color: #fff;
    padding: var(--padding);
    font-size: 2em;
    border-radius: var(--padding) calc(var(--padding)/3) calc(var(--padding)/3) var(--padding);
    
    --outline: .5em;
    --color: #0000;
    text-shadow: calc(var(--outline)*1) calc(var(--outline)*1) var(--color),
        calc(var(--outline)*-1) calc(var(--outline)*-1) var(--color),
        calc(var(--outline)*-1) calc(var(--outline)*1) var(--color),
        calc(var(--outline)*1) calc(var(--outline)*-1) var(--color),
        
        calc(var(--outline)*-1) 0 var(--color),
        0 calc(var(--outline)*-1) var(--color),
        calc(var(--outline)*1) 0 var(--color),
        0 calc(var(--outline)*1) var(--color);

    transition: all 100ms;
}
.shop_display button:hover {
    --outline: .07em;
    background-color: #ccc;
    --color: #000;
}
.shop_display button:active {
    background-color: #eee;
    transform: translateY(2px);
}

#page_content details { cursor: default; }
#page_content details summary {
    margin-bottom: var(--padding);
}

.progression {
    --time: 4;
    display: grid; grid-template-columns: repeat(var(--time), auto);
    gap: 0;
}
.progression > *:nth-child(5) {
    border: none !important;
}
/* 
.progression > span:not(:last-of-type)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + var(--gap)/4);
    width: calc(var(--gap)/2);
    outline: 1px solid #000;
} */
.progression > span:not(:first-of-type) { border-left: 1px solid #000; }
.progression > span {
    position: relative;
    flex: 1;
    text-align: center;
    font-size: 1em;
    padding: 0 var(--padding);
}

.text_page {
    padding: calc(var(--padding)*2);
    background-color: #fff5ee;
    color: #752;
    text-shadow: 0 1px 1px #0005;
    box-shadow: -.25em .25em 0 #752;
}

.text_page > * { margin-bottom: var(--padding) !important; font-size: larger; }

.article_card {
    cursor: pointer;
    width: 100%;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    background-color: #eee;
    padding: calc(var(--padding)*2);
    border: 2px solid #aaa;
    color: #333;
}

.article_card:hover {
    background-color: #ddd;
    color: #111;
    transition: transform 100ms;
}
.article_card:active {
    background-color: #ccc;
    color: #000;
    transform: translateY(.25em);
}