@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Italiana&display=swap');

@font-face {
    font-family: AuNomDuDesespoir;
    src: url(assets/au-nom-du-desespoir.ttf);
}

@font-face {
    font-family: MinimalMono;
    src: url(assets/minimal-mono.ttf);
}

@font-face {
    font-family: SeptCentSoixanteDix;
    src: url(assets/setp-cent-soixante-dix-mono.ttf);
}

@font-face {
    font-family: Fukdat;
    src: url(assets/fuckdat.ttf);
}

@font-face {
    font-family: Melide;
    src: url(assets/MelideSerif.ttf);
}


:root {
    --body-bg: #687;
    --bg: #0a0a11;
    --fg: #8acaba;
    --bg-2: #2b6ec5;
    --fg-2: #6deeff;
    --margin: 2em;
    --font: SeptCentSoixanteDix;
    --font-size: 18px;
    --max-width: 700px;
}

.despair-regular {
  font-family: AuNomDuDesespoir, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 270% !important;
  line-height: 1em;
}

.minimal-mono {
  font-family: MinimalMono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 120% !important;
}

.septcent-regular {
  font-family: SeptCentSoixanteDix, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
}

.fukdat-regular {
  font-family: Fukdat, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 250% !important;
}

.melide-regular {
  font-family: Melide, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 250% !important;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: var(--font);
    font-size: var(--font-size);
    background-color: var(--body-bg);
    color: var(--fg);
    background-image: url(assets/oop_cover\ -\ Copie.png);
    background-position: center center;
    background-size: 100% auto;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

a[href] {
    color: var(--fg);
    text-decoration: none;
}

a[href]:hover {
    color: var(--fg);
    text-decoration: underline;
}

header,
main,
footer {
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: calc(var(--margin) / 4);
    background-color: #111a;
    backdrop-filter: blur(20px);
    padding: var(--margin);
    border-radius: calc(var(--margin) / 4);
}

#music_section, #story_section {
    padding: calc(var(--margin) / 2);
}

main:not(.open) {
    display: none;
}

h1 {
    margin: 0;
}

table {
    border-collapse: collapse;
}

table thead {
    visibility: hidden;
}

table td:first-of-type {
    height: 2em;
    aspect-ratio: 1;
}

table td {
    padding-left: calc(var(--margin) / 7); padding-right: calc(var(--margin) / 7);
}

table td img {
    height: 100%;
}

.nav {
    list-style-type: none;
}

li.separator, .separator {
    height: .5em;
    position: relative;
}

li.separator::after, .separator::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--body-bg);
    top: 50%;
    opacity: .2;
}

ul li {
    font-weight: bold;
}

table tr:hover,
ul li:hover {
    cursor: pointer;
    background-color: #acb1;
}

table tr:active,
ul li:active {
    background-color: #222;
    outline: solid 2px var(--fg);
}

header .logo {
    display: flex;
    flex-direction: row;
    filter: contrast(0) sepia(1) saturate(1.5) hue-rotate(110deg);
    font-family: Melide;
}

.logo h1 { font-weight: 100 !important; }

.mood_grid {
    display: flex; flex-wrap: wrap;
    flex-direction: row;
    gap: calc(var(--margin) / 8);
}

.mood_grid > img {
    border-radius: calc(var(--margin) / 8);
    flex: 1;
    object-fit: cover;
    max-width: 100%;
    height: 10em;
}

.auto_horizontal > * {
    flex: 1;
}

.auto_horizontal {
    display: flex;
    flex-direction: row;
    gap: calc(var(--margin) / 4);
}

.gradient {
    background-color: #fff;
    padding: calc(var(--margin) / 2);
}

.gradient.bg {
    background: linear-gradient(to right, var(--bg), var(--body-bg));
}

.gradient.fg {
    background: linear-gradient(to right, var(--fg), var(--fg));
}

.gradient.sg {
    background: linear-gradient(to right, var(--bg-2), var(--fg-2));
}

.fontdisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--margin) / 4);
    overflow: hidden;
} 

.fontdisplay > label {
    width: min-content;
    font-size: 2em;
    color: var(--fg-2);
    flex: 1;
    text-align: center;
    text-wrap: nowrap;
}

.button, button {
    all: unset;
    font-family: SeptCentSoixanteDix;
    font-size: 1.2em;
    line-height: 2.8em;
    background-color: var(--bg);
    padding: .2em calc(var(--margin) / 2) 0 calc(var(--margin) / 2);
}

.button:hover, button:hover {
    background-color: #0a0a11aa;
    cursor: pointer;
}

.button:active, button:active {
    background-color: #0a0a11;
    color: var(--body-bg);
    outline: 2px solid var(--body-bg);
}

img.autocolor {
    filter: saturate(0) contrast(.9) sepia(1) hue-rotate(70deg) brightness(.7);
    -webkit-transition : -webkit-filter 500ms linear;
    translate: filter 700ms;
}

img.autocolor:hover {
    filter: saturate(1) contrast(1) sepia(0) hue-rotate(0deg) brightness(1)
}

.book:hover {
    background-color: #111;
    color: #fff;
    outline: 2px solid var(--body-bg);
    cursor: pointer;
}

.book {
    display: flex;
    flex-direction: column;
    min-width: 9em;
    max-width: 11.5em;
    width: 42%;
    /* height: 20em; */
    background-color: #0a0a11;
    padding: calc(var(--margin) / 4);
    outline: 2px solid var(--bg);
    transition: background-color 500ms, outline 100ms, color 100ms;
}
.book > h2,
.book > span {
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.book > h2 {
    margin: 0;
    margin-top: calc(var(--margin) / 4);
}
.book > span {
    margin-bottom: calc(var(--margin) / 4);
}

.book > img {
    aspect-ratio: 3/4;
    width: 100%;
    object-fit: cover;
}

#book_section {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--margin) / 4);
}


.info_button:hover {
    color: var(--fg);
    border-color: var(--fg);
    cursor: pointer;
    text-decoration: underline;
}

body:has(#book_page.open) .info_button { display: flex; }

.close_button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--bg-2);
    padding: calc(var(--margin) / 4) calc(var(--margin) / 3);
    color: var(--fg-2);
    font-family: SeptCentSoixanteDix;
    font-size: 1.5em;
    border-bottom: .1em solid #0000;
    transition: border 100ms;
}
.close_button:hover {
    cursor: pointer;
    border-bottom: .1em solid #000;
    text-shadow: 0 .15em #000;
}

.close_button:active {
    transform: translateY(1px);
}

.info_button {
    display: none;

    color: var(--body-bg);
    border: .2em solid var(--body-bg);
    aspect-ratio: 1;
    height: 2.5em;
    border-radius: 50%;
    padding-right: calc(var(--margin)*.1);
    
    justify-content: center; align-items: center;
    font-weight: 800;
    position: absolute;
    right: var(--margin);
}

li, .local {
    visibility: hidden;
}


dialog:open {
    display: flex;
}

dialog > img {
    margin-bottom: calc(var(--margin) / 2);
    max-width: 5em;
    aspect-ratio: 1;
    object-fit: cover;
}

dialog {
    all: unset;
    display: none;
    flex-direction: column;

    z-index: 100;
    background-color: var(--fg);
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    
    width: calc(100% - var(--margin) * 4);
    max-width: calc(var(--max-width) - var(--margin) * 4);
    height: 50%;

    overflow: auto;

    padding: calc(var(--margin) / 3);
    padding-top: calc(var(--margin) * 1.8);
    color: var(--bg);
}