@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
  --font-size: 1em;

  --background-color-darktransparent: #101010dd;
  --background-color-lighttransparent: #f1f1f1dd;

  --background-color-dark: #101010;
  --background-color-dimdark: #444;
  --background-color-light: #f1f1f1;
  --background-color-dimlight: #aaa;

  --accent-color-light: #0aa;
  --accent-color-light-transparent: #00aaaaaa;
  --accent-color-dark: #055;
  --accent-color-dark-transparent: #005555aa;

  --font-color-dark: #101010;
  --font-color-dimdark: #444;
  --font-color-light: #f1f1f1;
  --font-color-dimlight: #aaa;
}
.theme_blood {
  --accent-color-light: #a00;
  --accent-color-light-transparent: #aa0000aa;;
}
@font-face {
  font-family: "FrenchDespair";
  src: url('FrenchDespair.otf');
}

.font_quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body, html {
  background-position: center; background-size: 10px 10px;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-weight: 100;
  /*  Moda SC", sans-serif; */
  font-family: "FrenchDespair", sans-serif;
  background: var(--background-color-light);
  font-size: var(--font-size);
}

* {
  padding: 0; margin: 0;
}

#top_bar_nav {
  position: fixed;
  height: 2em; width: 100%; background-color: var(--background-color-dark);
  z-index: 1; padding: 0 0.5em;
  display: flex; align-items: center; justify-content: space-between;
}

#top_bar_nav a {
  height: 70%;
  all: unset;
  color: #fff;
  text-decoration: underline 2px #fff;
  cursor: pointer;
  transition: all 200ms;
}
#top_bar_nav a:hover {
  color: #22f;
  text-decoration: underline 2px #22f;
}

#top_bar_nav img {
  height: 90%;
  margin-right: 1em;
}

#navigation_menu {
  pointer-events: none; 
  display: flex; flex-direction: row; align-items: center; justify-content: center;
  overflow: hidden; height: 0;
  position: fixed; bottom: 0; left: 0; width: calc(100% - 5em);
  z-index: 1; padding: 0 2.5em;
  background: linear-gradient(-45deg, var(--background-color-dimdark), var(--background-color-light));
  transition: height 200ms;
}
#navigation_menu .song_info {
  width: 50%; font-size: .7em;
  flex-shrink: 0; flex-grow: 1;
}
#navigation_menu .nav_buttons {
  cursor: pointer; 
  flex-shrink: 1; min-width: 10em;
  display: flex; flex-direction: column; gap: .25em;
}
#navigation_menu.open {
  padding: 0 2.5em 2.5em 2.5em;
  pointer-events: all;
  height: 7em;
}
#navigation_menu .nav_buttons button {
  all: unset; text-align: end; font-size: 1.25em;
  padding: 0 .25em; transition: padding 200ms;
  background: linear-gradient(to left, var(--background-color-light), transparent); color: var(--font-color-dark);
}
#navigation_menu .nav_buttons button:hover {
  padding-right: .5em;
}

#side_bar_backdrop {
  background-color: var(--accent-color-light-transparent);
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  transition: opacity 500ms; z-index: 1;
}

#side_bar {
  overflow: hidden;
  position: absolute; top: 0; left: 0;
  background: var(--background-color-dark);
  width: 100%; height: 100%;
  transition: width 500ms, background 500ms;
}
#side_bar.peak {
  width: 80%;
  background: var(--background-color-darktransparent);
}
#side_bar_backdrop.hide {
  opacity: 0;
  pointer-events: none;
}
#side_bar_backdrop.hide #side_bar{
  width: 0;
  text-overflow: clip; white-space: nowrap;
  pointer-events: none;
}

#boot_splash {
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  display: flex; flex-direction: column; 
  background: var(--background-color-dark); color: var(--font-color-light);
  align-items: center; 
  justify-content: center;
  z-index: 1; width: 100%; height: 100%;
  transition: background 500ms, top 500ms;
}
#boot_splash a {
  color: var(--accent-color-light); cursor: pointer; text-decoration: underline 2px var(--accent-color-light); margin-top: 1em;
}
.embbeded_container {
  transition: opacity 500ms;
}
#boot_splash.open .embbeded_container {
  opacity: 0;
}
.logo {
  max-width: 10em; height: 10em; aspect-ratio: 1/1;
  transition: opacity 250ms;
}
#boot_splash.open {
  pointer-events: none;
  background: transparent;
  top: 60%
}
#boot_splash.open i {
  pointer-events: all;
}
#boot_splash i {
  pointer-events: none;
  font-size: .8em; display: flex; justify-content: center; color: var(--font-color-dimlight);
  transform: translateY(-4em);
  transition: opacity 500ms;
  max-width: 20em; text-align: center;
}
#side_bar.peak #boot_splash i {
  opacity: 0;
}
#menu {
  display: flex; flex-direction: column;
  height: 100%; width: 100%; align-items: center; justify-content: center; gap: .5em;
}

#menu input[type="button"] {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #fff;
  width: 100%;
  background: transparent;
}
#menu input[type="button"]:hover {
  background: var(--accent-color-light);
}

#search_bar {
  margin-bottom: 1em; width: 100%; 
  display: flex; flex-direction: row;
}
#search_bar input[type="text"], #search_bar button {
  all: unset;
  background-color: var(--background-color-light);
  outline: 2px solid var(--background-color-dark); border-radius: 1em;
  margin-right: .5em; padding: 0 .25em;
}
#search_bar button {
  background-color: var(--background-color-dark); font-size: .5em; border-radius: 2em; padding: 0 1em;
  color: var(--font-color-light); font-weight: bold;
  transition: all 200ms;
}
#search_bar button:hover {
  background-color: var(--accent-color-light);
}

#content_list {
  width: calc(100% - 100px); max-width: 40em;
  position: absolute; top: 50px; left: 50%; transform: translateX(-50%);
}

.list_grid {
  margin-bottom: 1em;
  display: grid; grid-template-columns: repeat(auto-fill, minmax(7em, 1fr)); 
  gap: 1em; 
  background: linear-gradient(45deg, var(--background-color-dimdark), var(--background-color-dimlight));
  transition: opacity 200ms;
}
.list_grid.reduce {
  opacity: .5;
}
.list_grid.reduce .grid_item.active{
  display: block;
}
.list_grid.reduce .grid_item{
  display: none;
}

.list_grid h1 {
  grid-column: 1 / -1; font-size: 1em; cursor: pointer;
  padding: 0 .25em;
  background: var(--background-color-dark); color: var(--font-color-dimlight); outline: solid 2px var(--background-color-dark);
}

.grid_item {
  aspect-ratio: 1/1; outline: solid 2px var(--background-color-dark); border-radius: .25em;
  cursor: pointer; background-color: var(--background-color-light);
  margin: 0; padding: 0; overflow: hidden; transform: translateY(0);
  display: flex; justify-content: center; align-items: center;
  opacity: .7; position: relative;
  transition: transform 70ms, opacity 100ms;
}
.grid_item:hover {
  transform: translateY(.25em);
}
.grid_item.active {
  transform: scale(110%); border-radius: 0; outline: 4px solid var(--background-color-dark); opacity: 1;
}
.grid_item:hover img, .grid_item.active img {
  height: 100%;
}
.grid_item img {
  height: 110%; aspect-ratio: 1/1;
  transition: height 200ms, transform 200ms;
}
.grid_item .metadata {
  padding: .25em .25em;
  position: absolute; bottom: 0; left: 0; color: var(--font-color-light); font-weight: bold;
  background: linear-gradient(to top, var(--background-color-darktransparent), transparent);
  width: 100%;z-index: 999;
}

.grid_item .icons {
  display: flex; flex-direction: column; width: 2em; position: absolute; top: 0; right: 0;
}

.grid_item .icons img {
  width: 2em; aspect-ratio: 1/1; z-index: 1;
}




.input_toggle {
  width: 2em; height: 1em;
  cursor: pointer;
  background: var(--accent-color-dark);
  border-radius: 1em;
  position: relative;
  outline: 2px solid var(--background-color-dark);
  transition: background 100ms;
  margin: 6px 3px;
}
.input_toggle.active {
  background: var(--accent-color-light);
}
.input_toggle::after {
  content: "";
  outline: 2px solid var(--background-color-dark);
  left: 0; transition: left 100ms;
  position: absolute;
  height: 1em; width: 1em; aspect-ratio: 1/1;
  border-radius: 2em; background: #fff;
}
.input_toggle.active::after {
  left: calc(100% - 1em);
}
.content {
  margin-top: 2em;
}
.content.center {
  width: calc(100% - 1em); max-width: 40em;
  position: absolute; top: .5em;
  left: 50%; transform: translateX(-50%);
}

#lyrics_container {
  margin-bottom: 100px;
  font-size: 1.25em;
  padding: .5em 1em; margin-top: 1em;
  outline: solid 1px var(--background-color-dimlight);
  background-color: #fff; margin-bottom: 1em;
}

.lyrics_line {
  cursor: pointer;
  padding: .25em 1em;
  transition: background 200ms;
  background-color: #fff;
}
.lyrics_line:hover {
  background-color: #eee;
}

.lyrics_line.special {
  padding: 1em 1em;
  background-color: #eee;
}
.lyrics_line.special:hover {
  background-color: #ddd;
}
.lyrics_line.special.active {
  background-color: #cee;
}
.lyrics_line.active {
  background-color: #cee;
}

.lyrics_line .lyrics_explanation {
  text-align: center; font-size: .8em; font-weight: 700;
  overflow: hidden;
  display: none;
  width: calc(100% - 4em); padding: .25em 2em;
  border-radius: 2em;
  outline: solid 1px var(--background-color-dimlight);
  background-color: #fff; margin-top: 1em;
  opacity: 0;
}
.lyrics_line.active .lyrics_explanation {
  display: block;
  opacity: 1;
  animation: showUp 200ms forwards;
}


@keyframes showUp {
  from {
    opacity: 0; transform: translateY(1em);
  }
  to {
    opacity: 1; transform: translateY(0);
  }
}

#side_bar_backdrop.hide #compact_logo {
  animation: none;
}

#compact_logo {
  position: relative;
  transform: translate(-1.7em, -4em);
  /* background-color: red; */
  width: 10em; height: 15em;
}
#compact_logo.loading {
  animation: compactlogoanim 2000ms infinite 1s;
}
#compact_logo.error {
  filter: invert(20%) brightness(45%) contrast(200%);
  animation: none;
  opacity: 1;
}

.logo1, .logo2, .logo3 {
  position: absolute; opacity: 0;
}
#compact_logo.loading .logo1 {
  transform: rotate(0) translate(-2em, -.1em) scale(50%);
  animation: melideLoading 2000ms infinite 1s;
}
#compact_logo.loading .logo2 {
  transform: rotate(120deg) translate(-2em, -.1em) scale(50%);
  animation: melideLoading 2000ms infinite 1s;
}
#compact_logo.loading .logo3 {
  transform: rotate(240deg) translate(-2em, -.1em) scale(50%);
  animation: melideLoading 2000ms infinite 1s;
}

#compact_logo.error .logo1 {
  opacity: 1;
  transform: rotate(0deg) translate(-2em, -.1em) scale(50%);
  animation: melideLoadingError1 500ms forwards;
}
#compact_logo.error .logo2 {
  opacity: 1;
  transform: rotate(120deg) translate(-2em, -.1em) scale(50%);
  animation: melideLoadingError2 500ms forwards;
}
#compact_logo.error .logo3 {
  opacity: 1;
  transform: rotate(240deg) translate(-2em, -.1em) scale(50%);
  animation: melideLoadingError3 500ms forwards;
}

@keyframes melideLoadingError1 {
  0%{
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(-1em, -.5em) scale(50%);
    opacity: 1;
  }
}

@keyframes melideLoadingError2 {
  0%{
    opacity: 1;
  }
  100% {
    transform: rotate(120deg) translate(-1em, -.5em) scale(50%);
    opacity: 1;
  }
}

@keyframes melideLoadingError3 {
  0%{
    opacity: 1;
  }
  100% {
    transform: rotate(240deg) translate(-1em, -.5em) scale(50%);
    opacity: 1;
  }
}

@keyframes melideLoading {
  0%{
    opacity: 0;
    transform: rotate(0) translate(-2em, -.1em) scale(50%);
  }
  50% {
    transform: rotate(360deg) translate(-2em, -.1em) scale(50%);
  }
  100% {opacity: 1;}
}

@keyframes compactlogoanim {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#lyrics_controls {
  display: flex; flex-direction: row;
  padding: .5em;
  background-color: var(--background-color-dimdark); justify-content: space-between; align-items: center;
}
#lyrics_controls .lyrics_controls_tab {
  display: flex; flex-direction: column;
}

#lyrics_controls .lyrics_controls_tab .toggleLabel {
  display: flex; flex-direction: row; justify-content: end; align-items: center;
}

/* CUSTOM AUDIO PLAYER */
.custom-audio-player {
  position: relative;
  overflow: hidden;
}

.custom-audio-player .controls {
  display: flex; align-items: center; justify-content: space-between;
  padding: 10px;
  height: 1.5em;
  /* position: relative; background: #11111155;*/
  overflow: hidden;
}

.custom-audio-player .albumcover {
  aspect-ratio: 1/1;
  position: absolute; height: 100%; left: 0; top: 0; z-index: -1;
}

.custom-audio-player .backgroundImg {
  position: absolute; left: 50%; transform: translateX(-50%);
  width: 100%; height: auto; z-index: -1; max-width: none;
}

.custom-audio-player button {
  background: #444; color: #fff; border: none; padding: 10px; cursor: pointer;
}

.custom-audio-player img {
  height: 100%; cursor: pointer;
}

.custom-audio-player button:hover {
  background: #555;
}

.custom-audio-player .time-bar {
  border-radius: 3em; overflow: hidden;
  flex-grow: 1;
  margin: 0 10px;
  position: relative;
  height: 100%; background: #aaaaaaaa;
  border-radius: 0; cursor: pointer;
}

.custom-audio-player .progress {
  border-radius: 3em; overflow: hidden;
  height: 100%; background-color: #00caffaa;
  width: 0; border-radius: 0 5px 5px 0;
}