@import url(/main.css);

/* - Global Change - */
body.changing header>label {
    opacity: 0 !important;
}

header.hor::before { all: unset; }

body.changing header>img {
    width: auto;
}

header>img {
    width: 0;
    overflow: hidden;
}

body {
    color: #fff;
    padding-top: calc(var(--header-height)*2) !important;
    background-color: #111;
}

body:has(input[name="side_menu"]:checked) #side_menu {
    pointer-events: all;
    background-color: #222a;
}

body:has(input[name="side_menu"]:checked) #side_menu>.ver {
    transform: translateX(0);
}

/* - Side Menu - */
#side_menu {
    color: #000;
    transition: background-color 100ms;
    pointer-events: none;
    font-size: 120%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2220;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#side_menu>.ver {
    transition: transform 500ms;
    transform: translateX(-100%);
    gap: 0;
    background: linear-gradient(to left, #afd, #afda);
    padding: var(--padding);
    height: 100%;
    width: min-content;
}

#side_menu>.ver>* {
    white-space: nowrap;
}

#side_menu>.ver>span {
    transform: translateY(-.5em);
}

#side_menu ul {
    list-style-type: none;
}

#side_menu ul>li {
    transition: background-color 100ms;
    display: flex;
}

#side_menu ul a {
    cursor: pointer;
    width: 100%;
    padding: var(--padding);
}

#side_menu ul li:hover {
    background-color: #2222;
}

/* - Some Resets ? - */
div header>label:has(>i) {
    transition: opacity 500ms;
    background-color: #222;
    font-size: 150%;
    aspect-ratio: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
}

input[name="side_menu"] {
    all: unset;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

button {
    all: unset;
    border: 1px solid #777;
    border-radius: var(--padding);
    padding: var(--padding);
    cursor: pointer;
    color: #fff;
    text-align: center;
}

button:hover {
    background-color: #222;
}

.space { margin-bottom: calc(var(--padding)*2); }
.nopadding { padding: 0 !important; }
.options { width: 0; }

/* .options>input[type="range"]::after {
    content: "";
    box-sizing: border-box;
    border: .5em solid #eee;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
} */
.options input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
    height: 100%;
}

.options>input[type="range"]::-webkit-slider-runnable-track {
    height: 100%;
    border: none;
    border-radius: 0;
}

.options>input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.card>.meta { transition: all 300ms; }
.card>.meta>.hor:first-of-type { width: 100%; }
.card>.meta>.hor:first-of-type>input[type="text"] { all: unset; flex: 0; width: auto; white-space: nowrap; }
.card>.meta>.hor:first-of-type>.hor { flex: 1; }

.card>img,
.card>.melody_section {
    transition: flex 300ms;
    width: 3em;
    background-color: #333;
    flex: 0 !important;
}

.card>.melody_section {
    pointer-events: none;
    overflow-x: scroll;
    pointer-events: all;
    flex: 1 !important;
}

.card select {
    all: unset;
    background-color: #fff;
    color: #000;
    display: block;
    line-height: 2.2em;
    padding: 0 calc(var(--padding)/2);
}

.melody_section>.block {
    cursor: pointer;
    background-color: #fff;
    border-radius: var(--padding);
    aspect-ratio: 4/5;
}
body>div:has(>header) > div {
    max-width: var(--max-width); margin: auto;
    background: linear-gradient(to top, transparent, #222 40%);
    z-index: 999;
}